<div class="form-wrap final">
    <% if @winner == "remis" %>
        <h1><%=@winner%></h1>
    <% else %>
        <h1>The winner is: <%=@winner.nick%></h1>
    <% end %>

    <h3><%=@user1.nick%> negative points: <%=@user1_negative_points%></h3>
    <h3><%=@user2.nick%> negative points: <%=@user2_negative_points%></h3>
</div>
<%= link_to "New game", main_start_path, :class => "results-button"%>