<div class="form-wrap">
  <%= form_for(:user, url: main_new_game_path) do |f| %>
    <h3>Let's start</h3>
    <div class="input-wrap">
        <%= f.label "1st User nickname" %>
        <%= f.text_field :user1_nick, placeholder: "Enter nickname"%>
    </div>
    <div class="input-wrap">
        <%= f.label "2nd User nickname"%>
        <%= f.text_field :user2_nick, placeholder: "Enter nickname" %>
    </div>
    <%= f.submit("Let's play!") %>
  <% end %>
</div>

<style>


</style>
