<h3>Active user: <span class="active-user-nick"><%=@active_user%></span></h3>

<div class="game-flow">

    <div class="active-user-cards">
        <%@cards_active_user.each do |card|%>
            <div class="card">
                <div class="card-value"><%=card.value%></div>
                <div class="card-negative-points"><%=card.negative_points%></div>
                <div class="card-buttons">
                    <%= render partial: 'form', locals: { card: card, row: 0} %>
                    <%= render partial: 'form', locals: { card: card, row: 1} %>
                    <%= render partial: 'form', locals: { card: card, row: 2} %>
                    <%= render partial: 'form', locals: { card: card, row: 3} %>
                </div>
            </div>
        <%end%>
    </div>

    <div class="game-table">
        <h3>Table</h3>

        <div class="card-rows">
            <div class="table-cards-row">
                <%@cards_row0.each do |card|%>
                    <div class="card">
                        <div class="card-value"><%=card.value%></div>
                        <div class="card-negative-points"><%=card.negative_points%></div>
                    </div>
                <%end%>
            </div>
            <div class="table-cards-row">
                <%@cards_row1.each do |card|%>
                    <div class="card">
                        <div class="card-value"><%=card.value%></div>
                        <div class="card-negative-points"><%=card.negative_points%></div>
                    </div>
                <%end%>
            </div>
            <div class="table-cards-row">
                <%@cards_row2.each do |card|%>
                    <div class="card">
                        <div class="card-value"><%=card.value%></div>
                        <div class="card-negative-points"><%=card.negative_points%></div>
                    </div>
                <%end%>
            </div>
            <div class="table-cards-row">
                <%@cards_row3.each do |card|%>
                    <div class="card">
                        <div class="card-value"><%=card.value%></div>
                        <div class="card-negative-points"><%=card.negative_points%></div>
                    </div>
                <%end%>
            </div>
        </div>
        <!--
        <div class="bins">
            <div class="user-bin">
                <h3><%=@user1.nick%>'s Bin</h3>
                <div class="user-bin-cards">
                    <%@cards_user1_bin.each do |bin_card|%>
                        <div class="card">
                            <div class="card-value"><%=bin_card.card.value%></div>
                            <div class="card-negative-points"><%=bin_card.card.negative_points%></div>
                        </div>
                    <%end%>
                </div>
            </div>

            <div class="user-bin">
                <h3><%=@user2.nick%>'s Bin</h3>
                <div class="user-bin-cards">
                    <%@cards_user2_bin.each do |bin_card|%>
                        <div class="card">
                            <div class="card-value"><%=bin_card.card.value%></div>
                            <div class="card-negative-points"><%=bin_card.card.negative_points%></div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
        -->
    <% if @end_of_the_game %>
        <%= link_to "See results", main_final_path, :class => "results-button"%>
    <% end %>
    </div>

</div>

<style>

</style>

